body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html {
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.background {
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(boardwalk.jpg_large);
    height: 100vh;
}

.main-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;

}

.box{
    background: rgb(247, 247, 247);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.92);
    height: inherit;
    padding-top: 10px;
}

.menu-bar {
    background: rgb(119, 119, 119);
    text-align: center;
    color: #ffffff;
    display: flex;
}

.menu-bar ul {
    padding: 0;
    margin: 0;
    position: relative;
    list-style-type: none;
    display: inline-flex;
    width: 100%;
}

.menu-bar li {
    width: 100%;
    align-content: stretch;
    font-size: 2vw;
}

.menu-bar button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 20px;
    width: 100%;
}

.menu-bar li:hover {
    background-color: #505050;
    border-radius: 10px;
}

#search {
    width: 100%;
    height: inherit;
    justify-content: center;
    text-align: center;

}

#search input[type="text"]{
    text-align: center;
    height: 30px;
    width: 30%;
}

#contacts-table {
    overflow: auto;
    height: 85%;
}

#contacts-table table{
    border-collapse: collapse;
    width: 100%;
    display:table;
}

td, th {
    border: 1px solid #dddddd;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    height: 30px;
}

#add-contacts, #edit-contact{
    text-align: center;
}

.contact-fields input {
    padding: 0 20px 20px;
    font-size: 36px;
    width: 300px;
    height: 30px;
    margin-bottom: 15px;
    outline: none;
    border-radius: 8px;
    text-align: center;
}

.contact-fields button {
    width: 200px;
    margin-bottom: 20px;
    height: 40px;
    padding: 10px;
    align-items: flex-start;
    text-align: center;
    padding: 1px 6px;
    border-width: 2px;
    border-radius: 199px;
    cursor: pointer;
}

#my-account h1,h2{
    margin-top: 0%;
    text-align: center;
}

#my-account button{
    width: 200px;
    height: 40px;
    align-items: flex-start;
    text-align: center;
    padding: 1px 6px;
    border-width: 2px;
    border-radius: 199px;
    cursor: pointer;
    display: inline;
}

.change-fields {
    text-align: center;
}

#mailbox{
    position: absolute;
    width: 30%;
    height: 55%;
    padding: 25px;
    background: rgb(165, 165, 165);
    box-sizing: border-box;
    text-align: center;
    margin-left: 35%;
    margin-top: 2%;
}

#mailbox h2 {
    margin-top: 10%;
    margin-bottom: 10%;
}

#mailbox input {
    padding: 10px 10px 10px;
    font-size: 28px;
    width: 60%;
    height: 5%;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 50px;
}

#newpass{
    position: absolute;
    width: 30%;
    height: 55%;
    padding: 25px;
    background: rgb(165, 165, 165);
    box-sizing: border-box;
    text-align: center;
    margin-left: 35%;
    margin-top: 2%;
}

#newpass h2 {
    margin-top: 10%;
    margin-bottom: 10%;
}

#newpass input {
    padding: 10px 10px 10px;
    font-size: 28px;
    width: 60%;
    height: 5%;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 50px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal #delete-btn {
    display: none;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: fit-content;
}

/* The Close Button */
.close  {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* Material Icons Default */
i.material-icons {
	vertical-align: middle;
	position: relative;
	top: -1px;
	margin-left: 5px;
	cursor: default;
}
